# Build and distribution artifacts
Youtube_downloader.build/
Youtube_downloader.dist/
Youtube_downloader.dist.zip
Youtube_downloader.exe
Youtube_downloader.zip

# Binary dependencies
ffmpeg.exe
python39.dll

# misc
build_instructions.txt
RELEASE_NOTES.MD

# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/