# Build and distribution artifacts
ddd.build/
ddd.dist/
ddd.dist.zip

# Binary dependencies
ffmpeg.exe
python39.dll

# misc
build_instructions.txt

# Python-specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/